aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  background-color: #000000bb;
  height: 100%;
  padding: 1em;
}

aside ul {
  list-style: none;
}

.menu-lateral {
  display: grid;
  gap: 1em;
  text-align: center;
}
