@import "aside.css";
@import "nav.css";
@import "section.css";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: roboto;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background-image: url("../images/spider-man.png");
  background-position: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
